

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 40vh auto 20px;
  padding: 0;

  background-color: var(--color-background-regular);
  @media screen and (min-width: 993px) {
    padding-right: 5px;
  }
  .article {
    width: calc(100% - 50px);
    max-width: 1100px;
    padding: 20px 25px 20px;

    background-color: var(--color-background-fronter);

    box-shadow: var(--shadow-regular);
    @media screen and (min-width: 993px) {
      width: calc(100% - 320px);
    }
    @media screen and (min-width: 1400px) {
      width: calc(100% - 80px);
      padding: 20px 40px 20px;
    }
    .description {
      position: relative;

      display: flex;
      padding: 5px 5px 5px 10px;

      background-color: var(--color-background-tablerow);
      .descLine {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 6px;
        height: 100%;

        background-color: var(--color-border);
      }
    }
  }
}

.index {
  position: sticky;
  top: calc(var(--topbar-height) + 10px);

  flex: none;
  width: 240px;
  height: fit-content;
  max-height: max(60vh, 300px);
  margin-top: 10px;
  padding: 20px 0px;
  border-radius: 15px 15px;

  overflow: auto;

  background-color: var(--color-background-fronter);
  box-shadow: var(--shadow-regular);
  &::-webkit-scrollbar {
    width: 0px;
  }
  @media screen and (max-width: 992px) {
    position: static;

    display: none;

    width: 0;
    padding: 0;
    overflow: hidden;
  }
}