.item {
  padding: 1px 3px;
}

.h3_ulist {
  padding: 0 5px 0 1em;

  line-height: 20px;

  list-style-type: none;
}
.h3_item {
  padding: 2px 2px;
}

/* TODO article index
*/
.anchor {
  color: var(--color-regular);
  text-decoration: none;
  &:hover {
    color: var(--color-link-hover);
  }
  &.selected {
    color: var(--color-link);
  }
}
