@use "/styles/prism-theme/ghcolors.scss";
@use "/styles/prism-theme/one-dark.scss";
@use "/styles/dark-mode.scss";
@use "/styles/default-mode.scss";
@use "/styles/artcile-element.scss";
/*
 @use "/styles/fonts/lxgw.scss";
*/
html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

html:root {
  --topbar-height: 65px;
  @media screen and (max-width: 576px) {
    --topbar-height: 48px;
  }
  @media screen and (max-width: 992px) {
    --topbar-height: 55px;
  }
}

body {
  margin: 0px;
  padding: 0px;

  color: var(--color-regular);
  font-family: "LXGW WenKai";
  background-color: var(--color-background-regular);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  background-color: transparent;
}

svg path {
  fill: var(--color-regular);
}
