.topbar {
  position: relative;
  z-index: 11;

  width: 100%;
  height: 60px;

  background: var(--color-background-avatar);
  background-size: 1000% 100%;

  animation: shine 10s 0ms infinite alternate both;
}

@keyframes shine {
  0% {
    background-position: 70% 0;
  }
  25% {
    background-position: 90% 0;
  }
  50% {
    background-position: 70% 0;
  }
  75% {
    background-position: 90% 0;
  }
  100% {
    background-position: 70% 0;
  }
}
.timeLine {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: calc(100vw - max(0px, calc(0.05 * (100vw - 414px))) - 20px);
  margin: 1rem auto;
  padding: 0 10px;
}

/*
.timeLineContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  max-width: 1100px;
  border-radius: var(--radius-cardRadius);
  box-shadow: var(--shadow-boxshadow__defaultCardShadow);
  @media screen and (min-width: 500px) {
    margin-top: 10px;
  }
}

.sideBar {
  flex: none;
  width: 0;
  overflow: hidden;
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
    width: 300px;
    padding: 10px;
  }
}
*/

.yearContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 900px;
  padding: 10px 10px 15px;
  border-radius: 15px;

  background-color: var(--color-background-fronter);
  box-shadow: var(--shadow-regular);
  .title {
    width: calc(100% - 20px);
    padding: 5px 10px 2px;
    border-radius: 10px;

    font-weight: bold;
    font-size: 1.5rem;

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 1px;

      background-color: var(--color-lightest);

      content: "";
    }

    @media screen and (min-width: 700px) {
      font-size: 1.875rem;
    }
  }
  .postList {
    display: flex;
    flex: none;
    flex-direction: column;
    gap: 0;
    align-items: center;
    width: calc(100% - 25px);
    padding: 10px 0 0;
    overflow: hidden;
    .postItem {
      display: flex;
      flex-direction: row;
      gap: 7px;
      gap: 7px;
      align-items: center;
      width: calc(100% - 16px);
      padding: 2px 10px;

      text-decoration: none;

      transition: transform 0.3s, border-left 0.3s, border-left-width 0.3s;
      &::before {
        display: inline-block;
        width: 2px;
        height: 23px;

        background-color: var(--color-special-lighten);

        content: "";
      }
      &:hover {
        background-color: var(--color-background-hover);
        transform: translateX(2px);
        &::before {
          display: inline-block;
          width: 4px;
          height: 23px;

          background-color: var(--color-special-havien);

          content: "";
        }
      }
      .postTitle {
        display: inline-block;
        max-width: calc(100% - 50px);
        overflow: hidden;

        color: var(--color-regular);
        font-size: 1.25rem;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }
}

span.postDate {
  display: inline-block;
  flex: none;
  margin: 0 1rem 0 0;

  color: var(--color-lighten);
  line-height: 1.5rem;
  vertical-align: middle;

  user-select: none;
  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
}
