.des {
  position: relative;
  z-index: -2;

  height: var(--topbar-height);
  margin: 0 0 0px 0;

  background-color: var(--color-background-regular);
  @media screen and (max-width: 992px) {
    height: 55px;
    margin: 0;
  }
  @media screen and (max-width: 576px) {
    height: 48px;
    margin: 0;
  }
}

html[data-theme="dark"] .topBarContainer {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.8);
}

.topBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 65px;

  box-shadow: 2px 4px 8px 0px rgba(81, 81, 81, 0.2);
  backdrop-filter: blur(8px);

  transition: height 0.15s, gap 0.15s;

  user-select: none;
  @media screen and (max-width: 992px) {
    gap: 20px;
    justify-content: flex-start;
    height: 55px;
  }
  @media screen and (max-width: 576px) {
    gap: 0px;
    justify-content: space-between;
    height: 48px;
  }

  .topBarTitle {
    padding: 0 0 0 10px;

    color: var(--color-regular);

    font-size: 48px;
    font-family: var(--local-luxuriousScript);
    text-decoration: none;

    transition: font-size 0.15s;
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
    @media screen and (max-width: 576px) {
      font-size: 32px;
    }
  }
}

.topBarMenu {
  z-index: 10;

  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0 50px 0 0;

  font-weight: bold;

  font-size: 24px;

  list-style-type: none;

  transition: gap 0.15s, padding 0.15s;

  user-select: none;
  @media screen and (max-width: 992px) {
    gap: 12px;
    padding: 0px;

    font-size: 20px;
  }
  @media screen and (max-width: 576px) {
    &.topMenu {
      display: none;
    }
    position: fixed;
    top: 48px;
    right: 0;

    height: 0;
    padding: 0;

    visibility: hidden;
  }
  li {
    display: flex;
    a {
      color: var(--color-regular);
      text-decoration: none;

      transition: color 0.15s;
      &:hover {
        color: var(--color-link-hover);
      }
    }
    span {
      display: inline-block;
      width: 4px;
      height: 24px;
      border-radius: 2px;

      background-color: var(--color-background-fronter);
    }
  }
}

// styles about ex-menu
.topBarMenu {
  @media screen and (min-width: 576.1px) {
    &.exMenu {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 0;
    overflow: hidden;

    backdrop-filter: blur(6px);

    transition: height 0.15s, visibility 0s 0.15s;
    &.collapseMenu {
      width: 100vw;
      height: calc(var(--items) * 42px - 54px);
      padding: 5px 0;

      visibility: visible;

      transition: height 0.15s, visibility 0s 0s;
      li.menuItem {
        flex: none;

        line-height: 1.5;
        &.spliteLine {
          display: none;
        }
      }
    }
  }
}

li.spliteLine span{
  background-color: var(--color-lightest);
}

/*
  Menu Icon
*/
.menuHidden {
  @media screen and (min-width: 576.1px) {
    display: none;
  }
}
