.container {
  width: 100vw;
  height: 100vh;

  background-color: rgb(21, 21, 21);
  cursor: pointer;

  animation: out 3s 0s 1 ease-in-out;
  .title {
    position: fixed;
    top: 40vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    .link {
      color: rgb(47, 171, 209);
      font-size: 1.75rem;
      text-decoration: none;

      animation: fadeout 1s 0s 1 ease-in-out;
    }
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
