.article-ele-h2,
.article-ele-h3,
.article-ele-h4,
.article-ele-h5 {
  .article-ele-anchor {
    position: relative;

    color: var(--color-regular);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.article-ele-h2 {
  margin: 20px 0 15px;
  border: none;

  line-height: 36px;
  &::after {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0.5rem 0 0;
    border-radius: 1px;

    background-color: var(--color-border);

    content: "";
  }
}

.article-ele-h3 {
  font-size: 1.2em;
  text-indent: 0.2em;
}

.article-ele-h4 {
  font-size: 1em;
  text-indent: 0.6em;
}

.article-ele-anchor {
  color: var(--color-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.article-ele-blockquote {
  position: relative;

  margin: 15px 10px;
  padding: 5px 5px 5px 10px;

  color: var(--color-lighten);

  background-color: var(--color-background-tablerow);
  &::before {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 6px;
    height: 100%;

    background-color: var(--color-border);

    content: "";
  }

  .article-ele-p {
    margin: 0.5rem;
    padding: 0;
  }

  .article-ele-anchor {
    color: var(--color-link);
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-ele-p {
  margin: 0.5rem 0;
  padding: 0 26px 0;

  line-height: 1.75rem;
}

.article-ele-ol,
.article-ele-ul {
  padding: 0 0 0 26px;
  @media screen and (max-width: 720px) {
    padding: 0 0 0 20px;
  }
}

.article-ele-li {
  .article-ele-p {
    margin: 0.5rem 0;
    padding: 0px;
  }
}

.article-ele-del {
  display: inline;

  line-height: 1rem;
  text-decoration: none;
  background-color: rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: rgba(255, 255, 255);
  }
}

.article-ele-table--container {
  position: relative;

  display: flex;
  margin: 20px 0;
  overflow: auto;
}

.article-ele-table {
  width: 100%;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-spacing: 0;

  font-size: 0.875em;
}

.article-ele-thead .article-ele-tr {
  background-color: var(--color-background-tablerow);
}

.article-ele-tr {
  cursor: pointer;
  &:hover {
    background-color: var(--color-background-tablerow);
  }
}
.article-ele-tr:nth-child(2n) {
  background-color: var(--color-background-tablerow);
  &:hover {
    background-color: var(--color-background-tablerow);
  }
}

.article-ele-td,
.article-ele-th {
  min-width: 100px;
  max-width: 400px;
  padding: 0.6em 0.6em;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  line-height: 2rem;
}

.article-ele-th {
  font-size: 0.875rem;
  text-align: center;
}

::-webkit-scrollbar-thumb {
  background: var(--color-webkit-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-webkit-thumb-hover);
}

pre::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 0.3em;
  background: var(--color-webkit-thumb);
}

pre::-webkit-scrollbar-thumb:hover {
  background: var(--color-webkit-thumb-hover);
}
pre {
  overflow-x: auto;
}

html[data-theme="dark"],
html {
  pre[class*="language"].language-type-position {
    position: relative;

    padding-top: 2.5rem;
  }
}

div.language-type {
  position: absolute;
  top: 0;
  left: 0;

  width: calc(100% - 2rem);
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0.3rem 0.3rem 0 0;

  font-weight: 600;
  font-style: italic;
  line-height: 1.5rem;

  background-color: var(--color-background-languagetype);
}

.line-number {
  position: relative;

  display: block;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  height: 100%;
  margin-right: 16px;
  margin-left: -8px;

  color: var(--color-index);
  text-align: right;

  content: attr(line);
}

.article-ele-code {
  padding: 1px 3px;
  border-radius: 3px;

  color: var(--color-font_code);
  font-size: 1rem;

  background: var(--color-background_code);
}

.article-ele-hr {
  height: 2px;
  border: none;
  border-radius: 1px;

  background-color: var(--color-border);
}

.article-ele-p:has(.article-ele-img) {
  display: flex;
  padding: 0 26px;
  width: calc(100% - 52px);
  justify-content: center;
}

.article-ele-img {
  cursor: pointer;
  position: static !important;
  display: block !important;
  width: 100% !important;
  max-width: 900px;
  object-fit: contain;
}
