html[data-theme="dark"]:root {
  --color-webkit-thumb: rgb(45, 39, 39);
  --color-webkit-thumb-hover: rgb(165, 165, 165);
  --color-background-regular: rgb(20, 20, 20);
  --color-background-fronter: rgb(31, 31, 31);
  --color-background-hover: rgba(255, 255, 255, 0.3);
  --color-background-tablerow: rgb(22, 24, 26);
  --color-border: rgb(47, 49, 54);
  --shadow-regular: none;
  --shadow-lighten: none;
  --color-background-avatar: linear-gradient(
    95deg,
    rgba(0, 92, 175, 0.4),
    rgba(17, 50, 133, 0.4)
  );
  --color-link: rgb(46, 169, 223);
  --color-link-hover: rgb(130, 130, 130);
  --shadow-regular: none;
  --shadow-lighten: none;
  --color-special-havien: rgba(0, 92, 175, 0.5);
  --color-special-lighten: rgba(17, 50, 133, 0.5);
  --color-regular: rgb(225, 225, 225);
  --color-lighten: rgb(165, 165, 165);
  --color-lightest: rgba(255, 255, 255, 0.3);
  --color-input-hover: rgba(255, 255, 255, 0.87);
  --color-background-fronter-control: rgba(43, 43, 43, 1);
  --color-background-languagetype: rgba(40, 44, 52);
  --color-aboveImage:rgba(255, 255, 255, 0.87);

  --color-index: rgb(99, 92, 80);
}

html[data-theme="dark"] {
  img {
    filter: saturate(1.25) brightness(0.8);
  }
}
