html:root {
  --color-webkit-thumb: rgba(0, 0, 0, 0.1);
  --color-webkit-thumb-hover: rgba(0, 0, 0, 0.3);
  --color-background-regular: rgb(246, 248, 250);
  --color-background-fronter: rgba(255, 255, 255);
  --color-background-hover: rgba(18, 18, 18, 0.15);
  --color-background-tablerow: rgba(246, 248, 250);
  --color-border:rgb(208, 215, 222);
  --shadow-regular: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  --shadow-lighten: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color-background-avatar: linear-gradient(
    95deg,
    rgba(165, 222, 228),
    rgba(186, 204, 217)
  );
  --color-special-havien: rgba(165, 222, 228);
  --color-special-lighten: rgba(186, 204, 217);
  --color-regular: rgba(0, 0, 0);
  --color-lighten: rgba(86, 86, 86);
  --color-lightest: rgba(0, 0, 0, 0.2);
  --color-input-hover: rgba(255, 255, 255);
  --color-background-fronter-control: rgba(255, 255, 255);
  --color-background-languagetype: #faf7f7;
  --color-link: rgb(46, 169, 223);
  --color-link-hover: rgba(130, 130, 130);
  --color-aboveImage:rgba(255, 255, 255);
  --color-index: rgb(156, 163, 175);
}

html {
  * {
    transition: color 0.1s, background 0.4s;
  }
}
