.header {
  position: fixed;
  top: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: calc(40vh - 60px);
  padding: 60px 2vw 0;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  .backImage {
    position: fixed;
    top: 0;
    z-index: -2;

    width: 100vw;
    height: 50vh;
    .imageContainer {
      position: relative;
      width: 100%;
      height: 100%;
      .imgCover {
        position: absolute;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.title {
  overflow: hidden;

  color: var(--color-aboveImage);
  font-weight: bold;
  font-size: calc(32px + (100vw - 900px) / 100);
  white-space: nowrap;
  text-overflow: ellipsis;
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}
.author {
  color: var(--color-aboveImage);
  font-size: 16px;
}

.date {
  color: var(--color-aboveImage);
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

html .header .backImage .imageContainer {
  .darkCover {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }
  .lightCover {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s 0s, visibility 0s 0s;
  }
}

html[data-theme="dark"] .header .backImage .imageContainer {
  .darkCover {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s 0s, visibility 0s 0s;
  }
  .lightCover {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }
}
